.octicon {
  display: inline-block; /* 公式と同じ */
  fill: currentColor;    /* 公式と同じ */
  height: 1.4em; /* 大きさは height で指定 */
}
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.main {
  margin-top: 5vh;
  color: #35495e;
}

.word {
  text-align: center;
  &__typography {
    margin: 3vh auto;
    padding-top: 20vh;
    font-size: 48px;
    font-family: $word-font-family;
    word-break: break-all;
    text-align: center;
  }
}

.translate-section {
  margin-top: 8vh;
  &__typography {
    width: 90%;
    margin: 3vh auto;
    font-size: 28px;
    color: #3b8070;
    text-align: center;
    letter-spacing: 0.05em;
  }

  &__part-of-speech {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
    margin-top: 6vh;

    &-title {
      font-style: italic;
      margin-top: auto;
      margin-left: 10%;
    }

    &-type {
      margin-right: 20%;
    }
  }
}

.ad {
  position: absolute;
  bottom: 10vh;
  width: 100%;
  &__banner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  color: white;
  background-color: #3b8070;
  width: 100%;
  padding: 2vh;

  &__player {
    font-size: 24px;
    text-align: center;
    height: 5vh;
    line-height: 4vh;

    &-icon {
      font-size: 3vh;
      margin-right: 2vh;
    }

    &-speed:hover &-speed-dropup-content, &-speed:hover &-speed-dropbtn {
      display: block;
    }

    &-speed {
      display: block;
      position: relative;
      display: inline-block;
      vertical-align: top;
      line-height: 3vh;

      &-dropbtn {
        height: 28px;
        background-color: #5e803b;
        color: white;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        -webkit-border-radius: 5px;/* for Safari and Chrome 対応*/
        -moz-border-radius: 5px;/* for Firefox 対応*/
      }

      &-dropup-content {
        display: none;
        position: absolute;
        background-color: #3b8070;
        min-width: 72px;
        bottom: 35px;
        left: -11px;
        z-index: 1;

        a {
          display: block;
          padding: 12px 16px;
          font-size: 16px;
          color: white;
          text-decoration: none;

          :hover {
            background-color: #ccc;
          }
        }
      }
    }

    &-timer-section {
      display: inline-block;
      margin-left: 9px;
      vertical-align: super;

      &-timer {
        display: inline-block;
        margin-right: 0.3em;

        &-hour, &-min, &-sec {
          display: inline-block;
        }
      }
    }

    &-word-counter {
      display: inline-block;
      font-size: 18px;
    }
  }
}

@media screen and (min-width: 920px) {
  .main {
    margin-top: 20vh;
  }
}