@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

.main {
  margin-top: 5vh;
  color: #35495e;
}

.word {
  text-align: center;
  &__typography {
    margin: 3vh auto;
    padding-top: 20vh;
    font-size: 48px;
    font-family: $word-font-family;
    word-break: break-all;
    text-align: center;
  }
}

.translate-section {
  margin-top: 8vh;
  &__typography {
    width: 90%;
    margin: 3vh auto;
    font-size: 28px;
    color: #3b8070;
    text-align: center;
    letter-spacing: 0.05em;
  }

  &__part-of-speech {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
    margin-top: 6vh;

    &-title {
      font-style: italic;
      margin-top: auto;
      margin-left: 10%;
    }

    &-type {
      margin-right: 20%;
    }
  }
}

.ad {
  position: absolute;
  bottom: 10vh;
  width: 100%;
  &__banner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 920px) {
  .main {
    margin-top: 20vh;
  }
}